# ETH Mining Reward with 3x RTX 3090s in EZIL Pool
**Data Period: January 1, 2022 to April 30, 2022**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

In [2]:
sns.set_style('darkgrid')
warnings.filterwarnings('ignore')

### Load Data

In [3]:
df = pd.read_csv('./input/jan_april_mining_reward.csv')

### Exploratory Data Analysis

#### Check Data Type and Missing Values

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    118 non-null    object
 1   Hashrate(MHs)           118 non-null    float64
 2   Pool variance           118 non-null    float64
 3   ETH reward              118 non-null    float64
 4   ZIL reward              118 non-null    float64
 5   Total reward in ETH     118 non-null    float64
 6   Total reward in USD     118 non-null    float64
 7   Income per 1GHs in ETH  118 non-null    float64
 8   Income per 1GHs in USD  118 non-null    float64
dtypes: float64(8), object(1)
memory usage: 8.4+ KB

In [5]:
df.head()

,Date,Hashrate(MHs),Pool variance,ETH reward,ZIL reward,Total reward in ETH,Total reward in USD,Income per 1GHs in ETH,Income per 1GHs in USD
0,2022-04-30,252.33,101.23,0.003137,5.4626,0.003295,9.23,0.01306,36.59
1,2022-04-29,350.76,102.62,0.004531,7.2809,0.004746,13.38,0.01353,38.15
2,2022-04-28,357.22,118.32,0.004496,7.9248,0.004740,13.88,0.01327,38.86
3,2022-04-27,348.82,95.93,0.004603,7.3931,0.004843,13.93,0.01389,39.93
4,2022-04-26,355.28,107.00,0.004501,7.5610,0.004753,13.41,0.01338,37.74

#### Change Date data type to date

In [6]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

#### Rename columns

In [7]:
df.columns = ['date','mhs', 'pool_variance','eth_reward','zil_reward','total_reward_eth','total_reward_usd',
              'income_per_1ghs_eth','income_per_1ghs_usd']

In [8]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

In [9]:
df.head()

,date,mhs,pool_variance,eth_reward,zil_reward,total_reward_eth,total_reward_usd,income_per_1ghs_eth,income_per_1ghs_usd,year,month,day
0,2022-04-30,252.33,101.23,0.003137,5.4626,0.003295,9.23,0.01306,36.59,2022,4,30
1,2022-04-29,350.76,102.62,0.004531,7.2809,0.004746,13.38,0.01353,38.15,2022,4,29
2,2022-04-28,357.22,118.32,0.004496,7.9248,0.004740,13.88,0.01327,38.86,2022,4,28
3,2022-04-27,348.82,95.93,0.004603,7.3931,0.004843,13.93,0.01389,39.93,2022,4,27
4,2022-04-26,355.28,107.00,0.004501,7.5610,0.004753,13.41,0.01338,37.74,2022,4,26

#### Get Summary Statistics

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
mhs,118.0,348.239237,18.336383,248.950000,348.182500,353.940000,357.220000,369.300000
pool_variance,118.0,102.561525,10.292097,83.170000,95.067500,102.440000,108.105000,139.180000
eth_reward,118.0,0.004925,0.000802,0.003137,0.004637,0.004794,0.005019,0.010641
zil_reward,118.0,8.598156,1.375962,5.462600,7.634150,8.473550,9.405475,13.374800
total_reward_eth,118.0,0.005118,0.000799,0.003295,0.004838,0.004986,0.005206,0.010776
total_reward_usd,118.0,15.284153,3.037311,9.230000,13.382500,14.720000,16.267500,28.860000
income_per_1ghs_eth,118.0,0.014717,0.002410,0.012730,0.013737,0.014195,0.014847,0.032380
income_per_1ghs_usd,118.0,43.902881,8.801069,34.260000,38.355000,41.615000,46.557500,92.170000
year,118.0,2022.000000,0.000000,2022.000000,2022.000000,2022.000000,2022.000000,2022.000000
month,118.0,2.508475,1.137893,1.000000,1.000000,3.000000,3.750000,4.000000
day,118.0,15.355932,8.709485,1.000000,8.000000,15.000000,22.750000,31.000000

#### Return on Investement

In [11]:
str(round((10000/df['total_reward_usd'].mean()),2))+' days'

'654.27 days'

#### Check Highest Daily Reward in USD and ETH

In [12]:
df['total_reward_usd'].max()

28.86

In [13]:
df['total_reward_eth'].max()

0.010776

#### Daily Reward in USD > 20 USD

In [14]:
df[df['total_reward_usd']>=20].sort_values(by=['total_reward_usd','date'], ascending=[False, True])

,date,mhs,pool_variance,eth_reward,zil_reward,total_reward_eth,total_reward_usd,income_per_1ghs_eth,income_per_1ghs_usd,year,month,day
77,2022-02-10,313.08,103.35,0.009147,6.4368,0.009259,28.86,0.02958,92.17,2022,2,10
64,2022-02-23,332.76,102.43,0.010641,8.9464,0.010776,28.43,0.03238,85.43,2022,2,23
25,2022-04-05,339.52,107.02,0.006103,6.2683,0.006334,21.81,0.01865,64.25,2022,4,5
28,2022-04-02,355.78,110.06,0.005797,7.7984,0.006192,21.47,0.01740,60.34,2022,4,2
33,2022-03-28,359.80,110.32,0.006044,7.8040,0.006279,21.17,0.01745,58.83,2022,3,28
116,2022-01-02,354.98,98.59,0.005312,10.5541,0.005523,21.14,0.01556,59.56,2022,1,2
117,2022-01-01,353.94,91.10,0.005352,10.7504,0.005570,20.93,0.01574,59.15,2022,1,1
113,2022-01-05,357.62,107.64,0.005746,8.8006,0.005911,20.89,0.01653,58.42,2022,1,5
104,2022-01-14,358.36,103.55,0.005937,7.2109,0.006077,20.16,0.01696,56.25,2022,1,14
114,2022-01-04,342.70,91.53,0.005099,9.3478,0.005275,20.12,0.01539,58.72,2022,1,4

#### Daily Reward in ETH > 0.055 ETH

In [15]:
df[df['total_reward_eth'] > 0.0055].sort_values(by=['total_reward_eth', 'date'], ascending=[False, True])

,date,mhs,pool_variance,eth_reward,zil_reward,total_reward_eth,total_reward_usd,income_per_1ghs_eth,income_per_1ghs_usd,year,month,day
64,2022-02-23,332.76,102.43,0.010641,8.9464,0.010776,28.43,0.03238,85.43,2022,2,23
77,2022-02-10,313.08,103.35,0.009147,6.4368,0.009259,28.86,0.02958,92.17,2022,2,10
53,2022-03-08,348.37,131.99,0.006862,8.7341,0.006992,17.98,0.02007,51.61,2022,3,8
25,2022-04-05,339.52,107.02,0.006103,6.2683,0.006334,21.81,0.01865,64.25,2022,4,5
33,2022-03-28,359.80,110.32,0.006044,7.8040,0.006279,21.17,0.01745,58.83,2022,3,28
28,2022-04-02,355.78,110.06,0.005797,7.7984,0.006192,21.47,0.01740,60.34,2022,4,2
104,2022-01-14,358.36,103.55,0.005937,7.2109,0.006077,20.16,0.01696,56.25,2022,1,14
113,2022-01-05,357.62,107.64,0.005746,8.8006,0.005911,20.89,0.01653,58.42,2022,1,5
34,2022-03-27,357.67,111.86,0.005513,8.3493,0.005778,18.90,0.01615,52.84,2022,3,27
111,2022-01-07,356.32,103.56,0.005483,10.2174,0.005686,18.09,0.01596,50.77,2022,1,7
110,2022-01-08,356.92,93.66,0.005509,9.0032,0.005686,17.74,0.01593,49.69,2022,1,8
97,2022-01-21,353.84,102.45,0.005515,7.6885,0.005660,14.43,0.01600,40.77,2022,1,21
117,2022-01-01,353.94,91.10,0.005352,10.7504,0.005570,20.93,0.01574,59.15,2022,1,1
90,2022-01-28,361.24,97.88,0.005339,11.1942,0.005540,13.95,0.01534,38.62,2022,1,28
116,2022-01-02,354.98,98.59,0.005312,10.5541,0.005523,21.14,0.01556,59.56,2022,1,2
112,2022-01-06,352.55,89.69,0.005347,9.0165,0.005521,18.93,0.01566,53.70,2022,1,6

#### Binning Data for Total Reward in USD

In [16]:
# We will create 5 bins based on total_reward_usd
df['bucket_usd']= pd.qcut(df['total_reward_usd'], q=5, precision=0)
df['bucket_category_usd']= pd.qcut(df['total_reward_usd'], q=5,labels=False, precision=0)
df['category_usd']= pd.qcut(df['total_reward_usd'], q=5, labels=['Very Low','Low', 'Medium', 
                                                                                'High','Very High'], precision=0)

In [17]:
df[['bucket_usd','bucket_category_usd','category_usd']].value_counts().reset_index().sort_values(by='bucket_category_usd',
                                                                                            ascending=True)

     bucket_usd  bucket_category_usd category_usd   0
0   (8.0, 13.0]                    0     Very Low  24
3  (13.0, 14.0]                    1          Low  23
1  (14.0, 15.0]                    2       Medium  24
4  (15.0, 17.0]                    3         High  23
2  (17.0, 29.0]                    4    Very High  24

#### Binning Data for Total Reward in ETH

In [18]:
# We will create 5 bins based on total_reward_eth
df['bucket_eth']= pd.qcut(df['total_reward_eth'], q=5, precision=0)
df['bucket_category_eth']= pd.qcut(df['total_reward_eth'], q=5,labels=False, precision=0)
df['category_eth']= pd.qcut(df['total_reward_eth'], q=5, labels=['Very Low','Low', 'Medium', 
                                                                                'High','Very High'], precision=0)

In [19]:
df[['bucket_eth','bucket_category_eth','category_eth']].value_counts().reset_index().sort_values(by='bucket_category_eth',
                                                                                            ascending=True)

          bucket_eth  bucket_category_eth category_eth   0
0  (-0.0067, 0.0048]                    0     Very Low  25
4   (0.0048, 0.0049]                    1          Low  22
1    (0.0049, 0.005]                    2       Medium  24
3    (0.005, 0.0053]                    3         High  23
2    (0.0053, 0.011]                    4    Very High  24

In [20]:
df[df['bucket_category_eth']==0].sort_values(by='bucket_category_eth').head()

,date,mhs,pool_variance,eth_reward,zil_reward,total_reward_eth,total_reward_usd,income_per_1ghs_eth,income_per_1ghs_usd,year,month,day,bucket_usd,bucket_category_usd,category_usd,bucket_eth,bucket_category_eth,category_eth
0,2022-04-30,252.33,101.23,0.003137,5.4626,0.003295,9.23,0.01306,36.59,2022,4,30,"(8.0, 13.0]",0,Very Low,"(-0.0067, 0.0048]",0,Very Low
75,2022-02-12,327.29,124.07,0.004265,9.4066,0.004423,12.90,0.01351,39.41,2022,2,12,"(8.0, 13.0]",0,Very Low,"(-0.0067, 0.0048]",0,Very Low
74,2022-02-13,357.22,104.79,0.004603,9.4703,0.004760,13.82,0.01333,38.70,2022,2,13,"(13.0, 14.0]",1,Low,"(-0.0067, 0.0048]",0,Very Low
66,2022-02-21,345.39,90.23,0.004647,8.6732,0.004783,12.53,0.01385,36.29,2022,2,21,"(8.0, 13.0]",0,Very Low,"(-0.0067, 0.0048]",0,Very Low
65,2022-02-22,329.43,95.19,0.004430,7.2734,0.004541,11.83,0.01378,35.91,2022,2,22,"(8.0, 13.0]",0,Very Low,"(-0.0067, 0.0048]",0,Very Low

#### ETH price is at a good price (in USD) while ETH mining reward is very low

In [21]:
df[(df['bucket_category_eth']==0) & (df['bucket_category_usd']!=0)].sort_values(by=['bucket_category_usd',
                                                                                        'total_reward_usd'], 
                                                                                        ascending=False)[[
    'date','total_reward_eth','total_reward_usd',
    'bucket_usd','bucket_category_usd','category_usd',
    'bucket_eth','bucket_category_eth','category_eth'
]].head(7).style.hide_index()

#### ETH mining reward is good while ETH price is very low (in USD)

In [22]:
df[(df['bucket_category_eth']!=0) & (df['bucket_category_usd']==0)].sort_values(by=['bucket_category_eth',
                                                                                        'total_reward_eth'], 
                                                                                        ascending=False)[[
    'date','total_reward_eth','total_reward_usd',
    'bucket_usd','bucket_category_usd','category_usd',
    'bucket_eth','bucket_category_eth','category_eth'
]].head(7).style.hide_index()